/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	
	/*header*/
	.common h1 {
		font-size: 28px;
	}

	.slider{	
		padding-top: 0px;
		padding-bottom: 100px;
	}
	.slider-left{
		margin-top: 10px;
	}
	.slider-right {
		margin-top: 30px;
	}
	.slider-right img{
		/*width: 80%;*/
		/*margin-left: 55px;*/
	}
	.indicators-custom li{
		bottom: -75px;
		width: 17px;
		height: 17px;
		border-radius: 13px;
	}
	/*features*/
	.common h3 {    
		font-weight: 400;
		font-size: 18px;
	}
	.t-c{
		padding-top: 15px;
		text-align: center;
	}
	/*contacts*/
	.touch h1 {
		font-size: 29px;
	}
	.touch p {
		font-size: 17px;
	}
	.custom-form {
		padding: 26px 18px;
	}
	.custom-btn {   
		font-size: 14px;    
		padding: 15px 20px;
		margin-top: 7px;

	}
	.social-conenct {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 45px;
	}

	.social-conenct li i {   
		font-size: 38px;
		padding-right: 3px;
	}
	.address_content p, p a {
		font-size: 13px;
		line-height: 3.5px;
	}
	.add1{
		text-align: center;
		padding-bottom: 35px;
	}
	.contacts {
		padding-top: 70px;
		padding-bottom: 45px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.slider{	
		padding-top: 5px;
		padding-bottom: 100px;
	}
	.slider-left{
		margin-top: 10px;
	}

	.common h1{
		font-size: 24px;
		margin-bottom: 15px;
	}
	.slider-left h3{
		font-size: 15px;
		margin-bottom: 15px;
	}
	.common p{
		font-size: 14px !important;	
	}
	.slider-left ul li i {
		padding-right: 14px;
		font-size: 35px;
	}
	.indicators-custom li{
		bottom: -75px;
		width: 17px;
		height: 17px;
		border-radius: 13px;
	}
	/*features*/
	.t-c{
		padding-top: 15px;
		text-align: center;
	}

	/*contacts*/
	.touch h1 {
		font-size: 29px;
	}
	.touch p {
		font-size: 17px;
	}
	.custom-form {
		padding: 26px 18px;
	}
	.custom-btn {   
		font-size: 14px;    
		padding: 15px 20px;

	}
	.address_content p, p a {
		font-size: 11px;
		line-height: 3.5px;

	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*slider */
	.slider{	
		padding-top: 5px;
		padding-bottom: 100px;
	}
	.slider-left{
		margin-top: 10px;
	}
	.common h1 {
		font-size: 28px;
	}
	.common p{
		font-size: 14px !important;	
	}
	.slider-left ul li i {
		padding-right: 14px;
		font-size: 35px;
	}
	.indicators-custom li{
		bottom: -75px;
		width: 17px;
		height: 17px;
		border-radius: 13px;
	}

	/*features*/

	.features-icon i {
		font-size: 39px;
	}
	.common h3 {
		font-size: 18px;
	}

	/*contacts*/
	.touch h1 {
		font-size: 29px;
	}
	.touch p {
		font-size: 17px;
	}
	.custom-form {
		padding: 26px 18px;
	}
	.custom-btn {   
		font-size: 15px;    
		padding: 15px 20px;

	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*features*/
	.features-icon i{
		font-size: 42px;		
	} 
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1499.98px){


}

/* Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px){
}
