/*font-family: 'PT Sans', sans-serif;*/
@font-face {
	font-family: HelveticaNeuBold;
	src: url(../fonts/HelveticaNeuBold.ttf);
}

*{
	margin:0;
	padding: 0;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: 'PT Sans', sans-serif;
	color: #898989;
}
header{
	background-color: #fcdb00;
	padding: 30px 0;
}
.custom-nav{

}
.custom-nav ul{
	
}
.custom-nav ul li{
	
}
.custom-nav ul li a{
	font-size: 22px;
	font-weight: bold;
	color: #010101 !important;
	text-align: right;
	padding-left: 70px!important;
}
.custom-nav ul li a:hover {
    color: #fff!important;
}

/*slider*/
.slider{
	background-color: #fcdb00;
	padding-top: 40px;
	padding-bottom: 100px;
}
.slider-left{
	margin-top: 60px;
}
.common h1{
	font-size: 32px;
	font-weight: bold;
	color: #010101;
	margin-bottom: 20px;
}
.slider-left h3{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #313841;
}
.common p{
	font-size: 16px !important;
	color: #555555;
}
.slider-left ul li i {
	padding-right: 25px;
	font-size: 42px;
	color: #010101;
	transition: 0.3s;
	cursor: pointer;
}
.slider-right{

}
.indicators-custom li{
	bottom: -75px;
	width: 20px;
	height: 20px;
	border-radius: 10px;    
}

/*features*/
.features{
	padding-bottom: 90px;
	padding-top: 70px;
}
.features-text p{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 60px;
	color: #313841;
}
.m-b{
	margin-bottom: 30px;
}
.p_l_0{
padding-left: 0;
}
.p_r_0{
padding-right: 0;
}
.common h3{
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}
.features-icon i{
	font-size: 50px;
	color: #010101;
	/*padding/-top: 7px;*/
}

/*contacts*/
.contacts{
	padding: 80px 0;
	background-color: #010101;
}
.touch h1{
	font-size: 32px;
	font-weight: bold;
	color: #fcdb00;
}
.touch p{
	font-size: 20px;
	font-weight: 400;
	color: #676767;
	margin-bottom: 40px;
}

.custom-form{
	padding: 26px  20px;
	border: none;
	border: 1px solid;
	border-radius: 5px;
}
.custom-btn{
	background-color: #fcdb00;
	color: #010101;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 26px;
	border: none;
	border: 1px solid;
	border-radius: 7px;
	transition: .5s;
}

button:hover{
	background-color: #efd314a3;
	border: 1px solid #fcdb00;
	color: #FCDB00;
}

.social-conenct{
	padding: 65px 0;
	text-align: center;
}

.social-conenct li i{
	font-size: 45px;
	padding-right: 20px;
	color: #fcdb00;
	transition: 0.3s;
}
.address_content p, p a{
	font-size: 16px;
	font-weight: 400;
	color: #898989 !important;
}

.address_content p a{
	text-decoration: none;    
    transition: 0.3s;
}
